#user-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  #user-list button {
    margin: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #user-info {
    margin-top: 20px;
  }
  
  #user-info p {
    margin: 0;
  }
  
  #post-list {
    margin-top: 20px;
  }
  
  #post-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #post-list li {
    margin: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #post-info {
    margin-top: 20px;
  }